// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

/* WHOLE SERVICE */

//overriding standardised padding
.govuk-main-wrapper {
  padding-top: 0;
}

//changing font size of paragraphs, lists, labels, buttons
p,
.govuk-body,
.govuk-list,
.govuk-radios__label,
.govuk-details {
  font-size: 16px;
}

.govuk-button,
.govuk-table {
  font-size: 14px;
}

/* HOME PAGE */

//blue line top of one third column
#column-data-tables {
  border-top: 10px solid $govuk-brand-colour;
  padding-top: 20px;
}

//my schools icon and text
#my-schools {
  display: flex;
  align-items: center;
  float: right;
}

#school-list-logo {
  max-width: 1.4em;
  padding-right: 10px;
}

//0 circle
.school-list-count {
  background-color: #0b0c0c;
  color: #ffffff;
  width: 20px;
  height: 20px;
  font-size: 0.8em;
  border-radius: 50%;
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  font-weight: bold;
}

/* covid banner */
#covid-banner.govuk-notification-banner {
  border: 0px;
  margin: 0px;
}

#covid-banner.govuk-notification-banner .govuk-notification-banner__content {
  background-color: $govuk-brand-colour;
}

#covid-banner.govuk-notification-banner .govuk-notification-banner__heading {
  color: white;
  font-size: 0.9em;
}

#covid-banner.govuk-notification-banner
  .govuk-notification-banner__heading
  .govuk-notification-banner__link {
  color: inherit;
}

/* tabs */

//tab titles height change - fixed from the live
#school-finder.govuk-tabs__list {
  display: flex;
  flex-direction: row;
}

.js-enabled .govuk-tabs__panel {
  border: 0px;
}

//mile dropdown
#search-radius,
#search-radius-trust-sponsor {
  font-family: "GDS Transport", arial, sans-serif;
  font-size: inherit;
  padding: 5px;
  background-color: white;
  border: 1px solid $govuk-border-colour;
  border-left: 0px;
}

/* footer */

#footer-links {
  border-top: 1px solid $govuk-border-colour;
}

//to align the image to the right of footer links
#footer-links ul,
#footer-links li,
#footer-links img {
  display: inline-block;
}

#footer-links li {
  font-size: 0.85em;
  padding: 20px 50px 0px 0px;
}

//national statistics logo
#ns-logo {
  max-width: 4em;
  height: auto;
  float: right;
  padding: 20px 0 0 0;
}

#footer .govuk-details__summary-text,
#footer p {
  font-size: 0.85em;
}

//size of text area labels
#footer label {
  font-size: 0.9em;
}

//over-riding toolkit in details
#footer .govuk-details__text {
  border-left: 0px;
  padding-left: 0px;
}

/* other */

//over-riding toolkit, text area and input borders
.govuk-textarea,
.govuk-input {
  border: 1px solid $govuk-border-colour;
}

//conditional reveal labels styled as govuk-heading-m
.govuk-radios__conditional .govuk-label {
  padding: 10px 0;
  font-weight: 700;
}

/* SCHOOL OVERVIEW */

.back-search,
.search {
  display: flex;
  align-items: center;
}

.search {
  margin-left: auto;
  margin-right: 0;
  float: right;
}

#search-icon {
  width: 1.3em;
  padding: 5px;
}

//moving 'share this page' to match the h1
.share-this-page {
  margin-top: 30px;
}

//getting both top buttons on one line
.view-trusts {
  width: 49%;
}

//table formatting
.school-info-table .govuk-table__header,
.school-info-table .govuk-table__cell {
  font-weight: 100;
  border: 0;
  padding: 10px 0px 0px 0;
}

//styling the panels - including vertically centering the content with hard coding padding
.school-panel {
  border: 1px solid $govuk-border-colour;
  margin-top: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.school-panel .govuk-body {
  display: flex;
}

//view buttons aligning right
.school-panel .govuk-button {
  margin-left: auto;
}


// SCHOOL OVERVIEW UPDATE!

.overview-tab{
  width:15%;
}

.overview-tab a{
  font-weight: bold;
  text-decoration: none;
}

.js-enabled .overview-tab .govuk-tabs__tab:visited {
  color: $govuk-link-colour;
}


/* ALL SCHOOL PAGES*/

//link formatting for share this page
.share-page a {
  display: inline-block;
  margin-right: 15px;
}

//share this page icon formatting
.social-media {
  width: 1.3em;
  margin-top: 1px;
  margin-right: 5px;
  vertical-align: bottom;
}

//view map icon formatting
#view-map {
  width: 1em;
  margin-right: 5px;
  vertical-align: bottom;
}

//multi-academy info icon
#multi-info {
  width: 1.2em;
  margin-left: 5px;
  vertical-align: top;
}

/* SCHOOL SECONDARY */

//progress 8 graph width
#progress-8 {
  width: 100%;
}

//sizing all the school charts
.school-charts {
  height: 100px;
  width: 100%;
}

.school-charts-three {
  height: 150px;
  width: 100%;
}

//changing the height of the sections so they match
.secondary-half-section {
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px govuk-colour("light-grey") solid;
  min-height: 230px;
}

.secondary-header {
  min-height: 480px;
}

//full pane links at the bottom
.full-width-link {
  border-bottom: 4px govuk-colour("blue") solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

.arrow-right {
  float: right;
}

.full-width-link .govuk-link {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: govuk-colour("blue");
}

#disadvantaged-pupils {
  border-top: 4px govuk-colour("blue") solid;
  color: govuk-colour("blue");
}

//changing margins per paragraph under about this data
.about-data br {
  margin-bottom: 15px;
}

.about-data .govuk-details {
  margin-bottom: 10px;
}

//print full information - bottom of page
#printer-icon {
  max-width: 1.4em;
  padding-right: 10px;
}

.print-information {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
