{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">Find and compare schools in England</span
        >Creating toolkit prototypes
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Live system
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Prototype link</th>
            <th scope="col" class="govuk-table__header">Live link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Home</td>
            <td class="govuk-table__cell">
              <a href="home">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.compare-school-performance.service.gov.uk/"
                >Link</a
              >
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          New prototype - copied from Axure
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Prototype link</th>
            <th scope="col" class="govuk-table__header">Live link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">School overview</td>
            <td class="govuk-table__cell">
              <a href="school-overview">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a
                href="https://htk2y5.axshare.com/#id=kdinia&p=mat_2022_-_selected_overview&view=default"
                >Link</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
