{% extends "layout-no-cookies.html" %} {% block pageTitle %} Find school and
college performance data {% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group back-search">
        <a href="school-overview" class="govuk-back-link"
          >Back to MAT overview</a
        >
        <div class="search">
          <img src="/public/images/search.svg" id="search-icon" />
          <a href="">Search</a>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <span class="govuk-caption-m"
        >Multi-academy trust
        <img id="multi-info" src="/public/images/information.svg"
      /></span>
      <h1 class="govuk-heading-l">Acme Academy Trust</h1>
    </div>
    <div class="govuk-grid-column-one-half share-this-page">
      <h2 class="govuk-heading-s">Share this page</h2>
      <div class="govuk-form-group share-page">
        <p class="govuk-body">
          <a href=""
            ><img
              src="/public/images/twitter.svg"
              class="social-media"
            />Twitter</a
          >
          <a href=""
            ><img
              src="/public/images/facebook.svg"
              class="social-media"
            />Facebook</a
          >
          <a href=""
            ><img
              src="/public/images/email.svg"
              class="social-media"
              id="email"
            />Email</a
          >
          <a href=""
            ><img src="/public/images/linkedin.svg" class="social-media" />
            Linkedin</a
          >
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Secondary</h1>
      <p class="govuk-body">
        This is the latest data for 2022. To view the full set of data for 2019,
        <a href="">click here</a>.
      </p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text"> About these results </span>
        </summary>
        <div class="govuk-details__text">
          This page shows <a href="">final</a> results for pupils who completed
          <a href="">key stage 4</a> in the summer of 2019, except where stated
          otherwise. We published the provisional results in October 2019, the
          revised results in February 2020 and the final results in March 2020.
        </div>
      </details>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="secondary-half-section secondary-header">
        <h3 class="govuk-heading-s">
          MAT Progress 8 score
          <img id="multi-info" src="/public/images/information.svg" />
        </h3>
        <p class="govuk-body">
          This score shows how much progress pupils at this school made compared
          to other similar pupils nationally between the end of key stage 2 and
          the end of key stage 4.
        </p>
        <img id="progress-8" src="/public/images/progress-8.png" />
      </div>
      <div class="secondary-half-section">
        <h3 class="govuk-heading-s">
          Staying in education or entering employment
          <img id="multi-info" src="/public/images/information.svg" />
        </h3>
        <p class="govuk-body">
          This shows the number of pupils who either stayed in education or went
          into employment after finishing key stage 4 (after year 11, usually
          aged 16).
        </p>
        <div class="school-charts">
          <canvas id="educationEmployment"></canvas>
          <script>
            Chart.register(ChartDataLabels);
            const chart1 = document.getElementById("educationEmployment");
            const educationEmployment = new Chart(chart1, {
              type: "bar",
              data: {
                labels: ["Trust", "England average"],
                datasets: [
                  {
                    data: [84, 94],
                    backgroundColor: [
                      "rgba(213, 231, 243, 1)",
                      "rgba(191, 193, 195, 1)",
                    ],
                    barThickness: 25,
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  tooltip: {
                    enabled: false,
                  },
                  datalabels: {
                    anchor: "end",
                    align: "end",
                    formatter: (value, chart1) => {
                      return value + "%";
                    },
                  },
                  legend: {
                    display: false,
                  },
                },
                indexAxis: "y",
                scales: {
                  y: {
                    beginAtZero: true,
                    grid: {
                      display: false,
                      borderColor: "rgba(0, 0, 0, 1)",
                    },
                  },
                  x: {
                    ticks: {
                      display: false,
                    },
                    suggestedMax: 120,
                    grid: {
                      drawBorder: false,
                      display: false,
                    },
                  },
                },
              },
            });
          </script>
        </div>
      </div>

      <div class="secondary-half-section">
        <h3 class="govuk-heading-s">
          Attainment 8 score
          <img id="multi-info" src="/public/images/information.svg" />
        </h3>
        <p class="govuk-body">
          Schools get a score based on how well pupils have performed in up to 8
          qualifications.
        </p>
        <div class="school-charts">
          <canvas id="attainmentEight"></canvas>
          <script>
            const chart2 = document.getElementById("attainmentEight");
            const attainmentEight = new Chart(chart2, {
              type: "bar",
              data: {
                labels: ["Trust", "England average"],
                datasets: [
                  {
                    data: [18.9, 46.7],
                    backgroundColor: [
                      "rgba(213, 231, 243, 1)",
                      "rgba(191, 193, 195, 1)",
                    ],
                    barThickness: 25,
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  tooltip: {
                    enabled: false,
                  },
                  datalabels: {
                    anchor: "end",
                    align: "end",
                  },
                  legend: {
                    display: false,
                  },
                },
                indexAxis: "y",
                scales: {
                  y: {
                    beginAtZero: true,
                    grid: {
                      display: false,
                      borderColor: "rgba(0, 0, 0, 1)",
                    },
                  },
                  x: {
                    ticks: {
                      display: false,
                    },
                    suggestedMax: 100,
                    grid: {
                      drawBorder: false,
                      display: false,
                    },
                  },
                },
              },
            });
          </script>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="secondary-half-section secondary-header">
        <h3 class="govuk-heading-s">
          Entering EBacc
          <img id="multi-info" src="/public/images/information.svg" />
        </h3>
        <p class="govuk-body">
          A pupil is considered to have entered for the English Baccalaureate if
          they entered for qualifications in English, maths, sciences, a
          language and either history or geography.
        </p>
        <div class="school-charts">
          <canvas id="enteringEbacc"></canvas>
          <script>
            Chart.register(ChartDataLabels);
            const chart3 = document.getElementById("enteringEbacc");
            const enteringEbacc = new Chart(chart3, {
              type: "bar",
              data: {
                labels: ["Trust", "England average"],
                datasets: [
                  {
                    data: [18.1, 40],
                    backgroundColor: [
                      "rgba(213, 231, 243, 1)",
                      "rgba(191, 193, 195, 1)",
                    ],
                    barThickness: 25,
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  tooltip: {
                    enabled: false,
                  },
                  datalabels: {
                    anchor: "end",
                    align: "end",
                    formatter: function (value, chart3) {
                      return value + "%";
                    },
                  },
                  legend: {
                    display: false,
                  },
                },
                indexAxis: "y",
                scales: {
                  y: {
                    beginAtZero: true,
                    grid: {
                      display: false,
                      borderColor: "rgba(0, 0, 0, 1)",
                    },
                  },
                  x: {
                    ticks: {
                      display: false,
                    },
                    suggestedMax: 100,
                    grid: {
                      drawBorder: false,
                      display: false,
                    },
                  },
                },
              },
            });
          </script>
        </div>
      </div>

      <div class="secondary-half-section">
        <h3 class="govuk-heading-s">
          Grade 5 or above in English & maths GCSEs
          <img id="multi-info" src="/public/images/information.svg" />
        </h3>
        <p class="govuk-body">
          This tells you the percentage of pupils who achieved grade 5 or above
          in English and maths GCSEs.
        </p>
        <div class="school-charts">
          <canvas id="englishMaths"></canvas>
          <script>
            const chart4 = document.getElementById("englishMaths");
            const englishMaths = new Chart(chart4, {
              type: "bar",
              data: {
                labels: ["Trust", "England average"],
                datasets: [
                  {
                    data: [35, 43],
                    backgroundColor: [
                      "rgba(213, 231, 243, 1)",
                      "rgba(191, 193, 195, 1)",
                    ],
                    barThickness: 25,
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  tooltip: {
                    enabled: false,
                  },
                  datalabels: {
                    anchor: "end",
                    align: "end",
                    formatter: function (value, chart4) {
                      return value + "%";
                    },
                  },
                  legend: {
                    display: false,
                  },
                },
                indexAxis: "y",
                scales: {
                  y: {
                    beginAtZero: true,
                    grid: {
                      display: false,
                      borderColor: "rgba(0, 0, 0, 1)",
                    },
                  },
                  x: {
                    ticks: {
                      display: false,
                    },
                    suggestedMax: 100,
                    grid: {
                      drawBorder: false,
                      display: false,
                    },
                  },
                },
              },
            });
          </script>
        </div>
      </div>
      <div class="secondary-half-section">
        <h3 class="govuk-heading-s">
          EBacc average point score
          <img id="multi-info" src="/public/images/information.svg" />
        </h3>
        <p class="govuk-body">
          The EBacc average points score calculates a pupil's average point
          scores across the 5 pillars of the English Baccalaureate.
        </p>
        <div class="school-charts">
          <canvas id="averageEbacc"></canvas>
          <script>
            const chart5 = document.getElementById("averageEbacc");
            const averageEbacc = new Chart(chart5, {
              type: "bar",
              data: {
                labels: ["Trust", "England average"],
                datasets: [
                  {
                    data: [3.35, 4.07],
                    backgroundColor: [
                      "rgba(213, 231, 243, 1)",
                      "rgba(191, 193, 195, 1)",
                    ],
                    barThickness: 25,
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  tooltip: {
                    enabled: false,
                  },
                  datalabels: {
                    anchor: "end",
                    align: "end",
                  },
                  legend: {
                    display: false,
                  },
                },
                indexAxis: "y",
                scales: {
                  y: {
                    beginAtZero: true,
                    grid: {
                      display: false,
                      borderColor: "rgba(0, 0, 0, 1)",
                    },
                  },
                  x: {
                    ticks: {
                      display: false,
                    },
                    suggestedMax: 6,
                    grid: {
                      drawBorder: false,
                      display: false,
                    },
                  },
                },
              },
            });
          </script>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <div class="full-width-link" id="disadvantaged-pupils">
        <a href="" class="govuk-link">Disadvantaged pupils</a
        ><img class="arrow-right" src="/public/images/arrow-right.svg" />
      </div>
      <div class="full-width-link">
        <a href="school-secondary-characteristics" class="govuk-link">MAT secondary characteristics </a
        ><img class="arrow-right" src="/public/images/arrow-right.svg" />
      </div>
      <div class="full-width-link">
        <a href="" class="govuk-link"
          >Schools covering key stage 4 included in this MAT’s performance
          data</a
        ><img class="arrow-right" src="/public/images/arrow-right.svg" />
      </div>

      <div class="govuk-form-group about-data">
        <h3 class="govuk-heading-s"><br />About this data</h3>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text"> Abbreviations </span>
          </summary>
          <div class="govuk-details__text">
            LOWCOV = Low coverage: shown for the ‘value added’ measure and
            coverage indicator where schools have less than 50% of pupils
            included in calculation of the measure<br />

            NA = Not applicable: figures are either not available for the year
            in question, or the data field is not applicable to the school or
            college<br />

            NE = No entries: the school or college did not enter any pupils or
            students for the qualifications covered by the measure<br />

            NEW = New school or college<br />

            NP = Not published: for example, we do not publish Progress 8 data
            for independent schools and independent special schools, or
            breakdowns by disadvantaged and other pupils for independent
            schools, independent special schools and non-maintained special
            schools<br />

            SP = Small percentage: the number is between 0% and 0.5%<br />

            SUPP = Suppressed: In certain circumstances we will suppress an
            establishment's data. This is usually when there are 5 or fewer
            pupils or students covered by the measure (10 in the case of
            destination measures). We avoid making these figures public to
            protect individual privacy. We may also suppress data on a
            case-by-case basis.
          </div>
        </details>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text"> Further guidance </span>
          </summary>
          <div class="govuk-details__text about-data">
            Figures in the performance tables will only include those
            qualifications documented on the list of approved qualifications for
            the performance tables. <br />

            Guidance and supporting documentation on school performance tables:
            <br />

            <a href=""
              >Understanding school and college performance measures (opens in a
              new window)</a
            ><br />

            <a href=""
              >Methodology and technical documents (opens in a new window)</a
            ><br />

            <a href=""
              >Guidance on approved qualifications (opens in a new window)<br
            /></a>

            State-funded schools (local authority maintained schools and
            academies) are held to account for their performance against these
            measures. We publish results for independent schools, but they are
            not accountable against these measures.
          </div>
        </details>
        <div class="govuk-form-group print-information">
          <img src="/public/images/printer.svg" id="printer-icon" />
          <a href="">Print full information about this school/college</a>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
